* {
  margin: 0;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4;
}

.container {
  text-align: center;
  padding: 1rem;

  width: 80%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 90vh;
}

.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.container__input .input__field {
  padding: 0 0 0 0;
  height: 2rem;
  width: 30rem;
  border: none;
  border-right: none;
}

.container__input .input_btn {
  padding: 0;
  height: 2rem;
  width: 5rem;
  font-size: x-large;
  font-weight: bolder;
  cursor: crosshair;
  border: none;
}

.container__todos {
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 65vh;
}

.container__todos .todos__todos {
  text-align: left;
  padding-left: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  color: aliceblue;
  margin: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
